
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @*USE LOWER CASE M IN MODEL WHEN YOU SPECIFY MODEL TYPE, WHEN YO SPECIFY VARIABLE YOU USE CAPITAL M IN MODEL*@
@model lab20.Models.UserInfo
<h1>Welcome,  @Model.UserFirstName @Model.UserLastName !</h1>  @*diff way to do view bag. @model  Is the key word*@

