@{
    ViewBag.Title = "Home Page";
}


    <h1>Welcome to GC Coffee <a href="/Home/Register">Register Here!!</a></h1>
<style>
    .icon {
        height:100%;
        width: auto;
    }
</style>



<br />
<br />
<a href="/Home/AddItem">Add New Item</a>
<br />

<h2>ITEMS</h2>
<form action="SaveUpdates" method="post">
 <table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    @foreach (var element in ViewBag.ItemList)
    {
        <tr>
            <td>@element.Name</td>    
            <td>@element.Description</td>
            <td>@element.Quantity</td>
            <td>@element.Price</td>
            <td><a href="/Home/DeleteItem?Name=@element.Name" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span></a></td>
            <td><a href="/Home/UpdateItem?Name=@element.Name"><span class="glyphicon glyphicon-edit"></span></a></td>
        </tr>

    }
</table>
 </form>
         